#nav-bar {
    background-color: rgb(17, 175, 232, 0.75);
    color: #e8fdff;
    height: 80px;
    display: flex;
    margin: -10px -10px 0 -10px;
    padding: 0;
}

#nav-bar img.logo {
    width: 80px; 
    height: 75px;
    margin: 5px 0 0 2em;
}

#nav-bar .header {
    padding: 20px 0 0 10px;
    line-height: 1em;
    font-size: 2em;
    color: black;
}

#compose-button {
    height: 50px;
    opacity: 0.75;
    border-radius: 10px;
    margin: 1em 2em 0 0;
    color: grey;
    margin-left: auto;
}

#compose-button:hover {
    opacity: 1;
    color: black;
    font-weight: bold;
}